#ufoCanvas {

	border: 1px solid black;
	margin: 0 auto;
	display: block;

	background-image: url('../images/bcg.jpg');
	background-size: auto 100%;
	opacity :1;

	/*text-shadow: 6px 6px 10px #000000;*/


}

body {
	background-image: url(../images/bodybcg.jpg);
}

